# disabletg library Project
# Copyright (C) 2021-2022 ALiwoto <aminnimaj@gmail.com> <aliwoto@gnuweeb.org>
# This file is subject to the terms and conditions defined in
# file 'LICENSE', which is part of the source code.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
